:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --background-text-color: #ffffff;
  --special-text-color: #2196f3;
  --white-bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --third-bg-color: #2196f3;
  --icon-color: #afb1b8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--white-bg-color);
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  margin: 0;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.hero__title, .benefits-list__header {
  text-transform: uppercase;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  color: var(--title-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-content {
  display: flex;
  align-items: center;
}

.all-nav {
  display: flex;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.link {
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link--current {
  position: relative;
}

.link--current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--third-bg-color);
  border-radius: 2px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.link,
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link:hover, .link:focus,
.contacts:hover,
.contacts:focus {
  color: var(--special-text-color);
}

.contacts-list__link {
  color: inherit;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__icon {
  margin-right: 10px;
  display: inline-flex;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__icon:hover, .contacts-list__icon:focus {
  fill: var(--special-text-color);
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: #000000;
}

.logo--web {
  color: var(--special-text-color);
}

.logo--footer {
  color: var(--white-bg-color);
}

.logo,
.logo--footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--dark-bg-color);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-text-color);
  width: 696px;
  margin: 0 auto 30px;
}

.benefits-list {
  display: flex;
}

.benefits-list__item {
  width: 270px;
}

.benefits-list__item::before {
  content: '';
  display: block;
  height: 120px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--second-bg-color);
  margin-bottom: 30px;
}

.benefits-list__item:not(:last-child) {
  margin-right: 30px;
}

.icon-antenna::before {
  background-image: url(../images/icons/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/icons/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/icons/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

.benefits-list__header {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  color: var(--title-color);
}

.work-examples {
  padding-bottom: 94px;
}

.work-examples__list {
  display: flex;
}

.work-examples__item:not(:last-child) {
  margin-right: 30px;
}

.work-examples__item {
  position: relative;
}

.work-examples__text-box {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-examples__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--background-text-color);
  padding-top: 27px;
  padding-bottom: 27px;
}

.team__list {
  display: flex;
}

.team__item {
  background-color: var(--white-bg-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 10px;
  margin: 0;
  color: var(--title-color);
}

.team__position {
  font-size: 16px;
}

.team__footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  background-color: var(--second-bg-color);
}

.team__name,
.team__position {
  line-height: 1.18;
  text-align: center;
}

.social-links {
  margin-top: 16px;
  display: inline-flex;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover, .social-links__link:focus {
  background-color: var(--third-bg-color);
  outline: none;
}

.social-links__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
  fill: var(--white-bg-color);
  outline: none;
}

.clients-list {
  display: flex;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--third-bg-color);
  outline: none;
}

.clients-list__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--third-bg-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.join {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--background-text-color);
}

.address {
  font-style: normal;
  color: var(--background-text-color);
  margin-top: 20px;
}

.address__contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contacts:hover, .address__contacts:focus {
  color: var(--special-text-color);
}

.address__item {
  margin-top: 9px;
}

.our-contacts {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.social-networks {
  margin-left: 70px;
  padding-top: 15px;
}

.social-networks__list {
  display: inline-flex;
}

.social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__link:hover, .social-networks__link:focus {
  background-color: var(--third-bg-color);
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__icon,
.subs-form__icon {
  fill: var(--white-bg-color);
}

.subscribe {
  margin-left: 94px;
  padding-top: 15px;
}

.subs-form {
  display: flex;
}

.subs-form__input {
  margin-right: 12px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  color: var(--background-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.button--subs {
  display: flex;
  align-items: center;
}

.subs-form__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 100%);
  opacity: 0;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  background-color: var(--white-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: var(--white-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;
}

.button--close:hover, .button--close:focus {
  cursor: pointer;
}

.close {
  color: #000000;
}

.button--close:hover .close,
.button--close:focus .close {
  color: var(--background-text-color);
}

.main-form {
  position: relative;
  align-items: center;
  padding: 40px;
}

.main-form__header {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.main-form__item {
  display: flex;
  flex-direction: column;
}

.main-form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.main-form__field {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.main-form__field:focus-within {
  fill: var(--third-bg-color);
}

.main-form__input:focus-within,
textarea {
  border: 1px solid #2196f3;
  outline-color: #2196f3;
}

.main-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  width: 100%;
  border-width: 2px;
  border-radius: 4px;
  padding: 12px 16px;
  border-color: rgba(33, 33, 33, 0.2);
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;
}

textarea:placeholder-shown {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agreement__label {
  display: flex;
  align-items: center;
}

.agreement__link {
  color: var(--special-text-color);
  text-decoration: underline;
}

.agreement-text {
  margin-left: 7px;
}

.btn--send {
  margin-top: 30px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../images/icons/rect.svg);
  background-size: contain;
  background-origin: border-box;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .agreement__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  background-color: var(--third-bg-color);
  background-image: url(../images/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item {
  outline: none;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 90px) / 3);
  border: 1px solid #eeeeee;
  background: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:nth-child(3n) {
  margin-right: 0px;
}

.portfolio__img {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__overlay-text {
  font-size: 18px;
  line-height: 1.55;
  color: var(--background-text-color);
  padding: 63px 24px 63px 24px;
}

.portfolio:hover .portfolio__overlay,
.portfolio:focus .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__footer {
  border: 1px solid #eeeeee;
  padding: 20px 24px 20px 20px;
}

.portfolio__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.portfolio__description {
  font-size: 16px;
  line-height: 1.87;
}

.portfolio:hover, .portfolio:focus,
.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.button--order,
.button--subs,
.btn--send {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-text-color);
  background-color: var(--third-bg-color);
  padding: 10px 32px 10px 32px;
  border: none;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-color);
  background-color: var(--second-bg-color);
  padding: 6px 22px 6px 22px;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-current {
  color: var(--background-text-color);
  background-color: var(--third-bg-color);
}

.button,
.button--filter {
  cursor: pointer;
}

.button--filter:hover,
.button--filter:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

button:focus,
button:hover {
  background-color: var(--third-bg-color);
  color: var(--background-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */