.benefits-list {
  display: flex;
}

.benefits-list__item {
  width: 270px;

  &::before {
    content: '';
    display: block;
    height: 120px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--second-bg-color);
    margin-bottom: 30px;
  }
}

.benefits-list__item:not(:last-child) {
  margin-right: 30px;
}

.icon-antenna::before {
  background-image: url(../images/icons/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/icons/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/icons/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

.benefits-list__header {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  @extend %uppercase;
  color: var(--title-color);
}
