.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.footer__info {
  @media screen and(max-width: 767.98px) {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    text-align: center;
  }

  @media screen and (min-width: 768px) and(max-width: 1199.98px) {
    width: 50%;
    text-align: center;
  }
}

.join {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--background-text-color);
}

.join--subs {
  margin-left: auto;
  margin-right: auto;
}

.address {
  font-style: normal;
  color: var(--background-text-color);

  margin-top: 20px;
}
.address__contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--special-text-color);
  }
}

.address__item {
  margin-top: 9px;
}

.our-contacts {
  @media screen and(min-width: 480px) {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
  }

  @media screen and(min-width: 768px) and(max-width: 1199.98px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and(min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
  }
}

.social-networks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media screen and(max-width: 767.98px) {
    margin-bottom: 60px;
  }

  @media screen and(min-width: 768px) and(max-width: 1199.98px) {
    width: 50%;
    text-align: center;
  }
  @media screen and(min-width: 1200px) {
    align-items: flex-start;
    text-align: left;
  }
}

.social-networks__list {
  display: inline-flex;
}

.social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--third-bg-color);
  }
}
.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__icon,
.subs-form__icon {
  fill: var(--white-bg-color);
}

.subscribe {
  text-align: center;

  @media screen and(min-width: 768px) and(max-width: 1199.98px) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  @media screen and(min-width: 1200px) {
    margin-left: 0;
    margin-right: 0;
    padding-top: 15px;
    text-align: left;
  }
}

.subs-form {
  display: flex;

  @media screen and(max-width: 1199.98px) {
    flex-direction: column;

    text-align: center;
  }
}

.subs-form__input {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 16px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  color: var(--background-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  @media screen and(min-width: 768px) and(max-width: 1199.98px) {
    margin-right: auto;
    margin-left: auto;
    width: 450px;
  }

  @media screen and(min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.button--subs {
  display: flex;
  align-items: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.subs-form__icon {
  margin-left: 10px;
}
