.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and(min-width:768px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  color: #000000;

  &--web {
    color: var(--special-text-color);
  }

  &--footer {
    color: var(--white-bg-color);
  }
}

.logo,
.logo--footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;

  @media screen and(min-width:1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
