.main-form {
  position: relative;
  align-items: center;
  padding: 40px;
}

.main-form__header {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.main-form__item {
  display: flex;
  flex-direction: column;
}

.main-form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.main-form__field {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.main-form__field:focus-within {
  fill: var(--third-bg-color);
}

.main-form__input:focus-within,
textarea {
  border: 1px solid #2196f3;
  outline-color: #2196f3;
}

.main-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  width: 100%;
  border-width: 2px;
  border-radius: 4px;
  padding: 12px 16px;
  border-color: rgba(33, 33, 33, 0.2);
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;

  &:placeholder-shown {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.agreement {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.agreement__label {
  display: flex;
  align-items: center;
}

.agreement__link {
  color: var(--special-text-color);
  text-decoration: underline;
}
.agreement-text {
  margin-left: 7px;
}

.btn--send {
  margin-top: 30px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement__icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  background-image: url(../images/icons/rect.svg);
  background-size: contain;
  background-origin: border-box;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .agreement__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  background-color: var(--third-bg-color);
  background-image: url(../images/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
