.team__list {
  display: flex;
}

.team__item {
  background-color: var(--white-bg-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;

  padding-bottom: 10px;
  margin: 0;
  color: var(--title-color);
}

.team__position {
  font-size: 16px;
}

.team__footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  background-color: var(--second-bg-color);
}

.team__name,
.team__position {
  line-height: 1.18;
  text-align: center;
}

.social-links {
  margin-top: 16px;
  display: inline-flex;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--third-bg-color);
    outline: none;
  }
}

.social-links__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
  fill: var(--white-bg-color);
  outline: none;
}
