.work-examples {
  padding-bottom: 94px;
}

.work-examples__list {
  display: flex;
}

.work-examples__item:not(:last-child) {
  margin-right: 30px;
}

.work-examples__item {
  position: relative;
}

.work-examples__text-box {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-examples__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--background-text-color);

  padding-top: 27px;
  padding-bottom: 27px;
}
