:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --background-text-color: #ffffff;
  --special-text-color: #2196f3;
  --white-bg-color: #ffffff;
  --dark-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --third-bg-color: #2196f3;
  --icon-color: #afb1b8;
}
